body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ff9a9e, #fad0c4);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

h1 {
    font-size: 3.5rem;
    color: white;
}

.buttons {
    margin-top: 30px;
    position:relative;
}

a, button {
    padding: 15px 30px;
    font-size: 1.8rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    margin: 10px;
}

.yes-btn {
    background-color: #ff4d6d;
    color: white;
}

.yes-btn:hover {
    background-color: #ff1e4d;
}

.no-btn {
    background-color: #444;
    color: white;
    position: relative;
}

.no-btn:hover{
    position:absolute;
    top: -50px;
    left: 100px; 
} 
