/* RESET */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #ff9a9e, #fad0c4);
  color: #333;
}


/* HERO SECTION */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 80px 40px;
  margin: 2rem
}


/* PHOTO */

.photo img {
  width: 350px;
  height: 600px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
  transform: rotate(-90deg);
}


/* MESSAGE */

.message {
  max-width: 600px;
  margin: 4rem 7rem;
  margin: right 10rem;
}

.message h1 {
  font-size: 5rem;
  margin-bottom: 20px;
  color: white;
}

.message p {
  font-size: 1.4rem;
  line-height: 1.5;
  color: white;
}


/* STORY CARDS */

.card {
  max-width: 800px;
  margin: 40px auto;
  padding: 40px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  font-size: 20px;
}

.card h2 {
  margin-top: 0;
  color: #ff4d6d;
}

.card p {
  line-height: 1.7;
}


/* FINAL SECTION */

.final {
  text-align: center;
  padding: 120px 20px;
  color: white;
}

.final h1 {
  font-size: 3rem;
}


/* FOOTER */

footer {
  text-align: center;
  padding: 20px;
  color: white;
  opacity: 0.8;
}


/* RESPONSIVE (mobile support) */

@media (max-width: 900px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .photo img {
    width: 250px;
  }
}
